html,
body {
  width: 100%;
  height: 100%;
}
.slider,
.bx-wrapper,
.bx-viewport {
  width: 100%;
  height: 100%;
}
.background_1 {
  width: 100%;
  height: 100%;
  background: url(../images/sea_1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.background_2 {
  width: 100%;
  height: 100%;
  background: url(../images/sea_2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.background_3 {
  width: 100%;
  height: 100%;
  background: url(../images/sea_3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  width: 100%;
  height: 100%;
  background: url(../images/16.png);
  position: absolute;
  top: 0px;
  z-index: 10;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -543px;
  margin-top: -351px;
  z-index: 20;
  font-size: 50px;
  font-family: "Malgun Gothic", sans-serif;
  text-align: center;
  color: white;
}
