@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*colors*/
:root{
  --body-color: #E4E9F7; /*#E8E2D9;*/
  --nav-color: #322C29; /*#2D2926, #322C29*/
  --side-nav: #010718;
  --text-color: #FFF;
  --search-bar: #F2F2F2;
  --search-text: #010718;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  height: 100%;
  background-color: var(--body-color);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  z-index: 20;
  transition: background-color 0.3s ease;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

nav.scrolled {
  background-color: var(--nav-color);
  transition: background-color 0.3s ease;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.nav-bar .logo a::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--text-color);
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 15px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

#About-me {
  position: relative;
  width: 100%;
  top: 0;
  background-color: #0107;
}

#About-me .overlay {
  width: 100%;
  height: 630px;
  background-color: rgba(210, 105, 30, 0.3);
  position: absolute;
  top: 0;
  z-index: 10;
}

#About-me .background_image {
  width: 100%;
  height: 630px;
  background: url(../images/programmer_1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

#About-me .self-introduce-text {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

#About-me .self-introduce-text .main-title {
  position: absolute;
  top: 16%;
  z-index: 15;
  color: var(--text-color);
  font-size: 50px;
  font-weight: 790;
  text-align: center;
}

#About-me .self-introduce-text .sub-title {
  position: absolute;
  top: 44%;
  z-index: 15;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

#About-me #personal-data {
  background-color: #E8E2D9;;
  height: 500px;
  width: 100%;
  margin: auto;
}

#About-me #personal-data .About-me-logo {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 30px;
  text-align: center;
  color: #322C29;
  font-size: 50px;
  font-weight: 650;
}

#About-me #personal-data .About-me-logo p span{
  position: relative;
}

#About-me #personal-data .About-me-logo p span::after {
  content: '';
  position: absolute;
  bottom: 1px; left: 9px;
  width: 95%; height: 1px;
  background-color: #322C29;
}

#personal-data .specific-data {
  width: 100%;
  height: 380px;
  padding: 5px 200px;
  gap: 80px;
  display: flex;
  justify-content: center;
}

#personal-data .specific-data .profile-image {
  background-image: url('../images/profile_2.png');
  background-size: cover;  
  background-position: center;
  
  aspect-ratio: 4 / 5;    
  border-radius: 20%;      
}

.specific-data .data {
  height: 100%;
  display: flex;
  align-items: center;
}

.specific-data .data li {
  margin: 30px 0;
  list-style: none;
  color: #322C29;
  font-size: 20px;
  font-weight: 200;
}

.specific-data .data li a {
  position: relative;
  text-decoration: none;
  color: #322C29;
}

.specific-data .data li a::after {
  content: '';
  position: absolute;
  bottom: -1px; left: 0;
  width: 0; height: 1px;
  background-color: #322C29;
  transition: all 0.2s ease;
}

.specific-data .data li a:hover::after {
  width: 100%;
}

.specific-data .data li a:hover {
  font-weight: 300;
}

#Skills {
  position: relative;
  height: 500px;
  width: 100%;
  margin: auto;
  background-color: #D2C9B1;
}

#Skills .used-skills {
  height: 100px;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: #4A3F35;
  font-size: 50px;
  font-weight: 650;
}

#Skills .used-skills p span {
  position: relative;
}

#Skills .used-skills p span::after {
  content: '';
  position: absolute;
  bottom: 1px; left: 9px;
  width: 95%; height: 1px;
  background-color: #4A3F35;
}

#Skills .skill-box {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

#Skills .skill-box .skill-box-wrapper{
  width: 320px;
  height: 320px;
  background-color: #8E6F57;
  border-radius: 30px;
  margin: auto; 
}

#Skills .skill-box .skill-box-wrapper .skills-category {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F5F5DC;
  font-size: 19px;
  font-weight: 210;
}

#Skills .skill-box .skill-box-wrapper .list-area {
  height: 250px;
}

#Skills .skill-box .skill-list {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  list-style: none;
}

#Skills .skill-box .skill-list li {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 10px 20px;
  padding: 5px;
  background-color: #F5F5DC;
  border-radius: 10px;
}

#Skills .skill-box .skill-list li::after {
  content: attr(data-name);
  position: absolute;
  top: 90%; left: 50%;
  transform: translate(-50%, -20%);
  
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: #FDFBF7;
  padding: 3px;
  
  border-radius: 5px;
  background-color: #1B6C67;
  transition: all 0.2s ease;
  opacity: 0;
}

#Skills .skill-box .skill-list li:hover::after {
  opacity: 1;
}

#Skills .skill-box .skill-list img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

#Projects {
  position: relative;
  height: 500px;
  width: 100%;
  border: 5px solid black;
  background-color: #0107;
}

#Career {
  position: relative;
  height: 500px;
  width: 100%;
  border: 5px solid black;
  background-color: #0107;
}

#Contact {
  position: relative;
  height: 500px;
  width: 100%;
  border: 5px solid black;
  background-color: #0107;
}
