@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
button {
  all: unset;
  appearance: none;
  cursor: pointer;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*colors*/
:root{
  --body-color: #E4E9F7; /*#E8E2D9;*/
  --nav-color: #322C29; /*#2D2926, #322C29*/
  --side-nav: #010718;
  --text-color: #FFF;
  --search-bar: #F2F2F2;
  --search-text: #010718;
  scrollbar-gutter: stable;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  height: 100%;
  background-color: var(--body-color);
}

#modalContainer {
  position: fixed;
  
  top: 0; left: 0;
  width: 100%; height: 100%;

  visibility: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  padding: 30px 0;
  
  background-color: rgba(0, 0, 0, 0.5);
  
  z-index: 999999;
  pointer-events: auto;
  
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#modalContainer.show {
  opacity: 1;
  visibility: visible;
}

#modalContainer #modalContent {
  position: relative;
  width: 700px;
  border-radius: 10px;
  background-color: #F0FFF0;
  
  padding: 30px;
  
  transform: translateY(-30px);
  transition: transform 0.3s ease;
}

#modalContainer.show #modalContent {
  transform: translateY(0);
}

#modalContent .close {
  position: absolute;
  top: 20px;
  right: 20px;
  
  font-size: 35px;
  font-weight: bold;
  
  color: wheat;
  transition: transform 0.2s ease;
}

#modalContent .close:hover {
  cursor: pointer;
  color: black;
}

#modalContent .close:active {
  transform: scale(0.8);
}

#modalContent h3 {
  font-size: 35px;
  margin-bottom: 30px;
}

#modalContent .summary {
  font-size: 16px;
  margin: 20px 0;
}

#modalContent .skills {
  font-size: 18px;
}

#modalContent .skill-list {
  margin-bottom: 20px;
}

#modalContent .skill-list ul {
  display: flex;
}

#modalContent .skill-list li {
  position: relative;
  list-style: none;
  margin: 0 7px;
  padding: 3px;
  
  width: 45px; height: 45px;
  border-radius: 10px;
  /*border: 0.1px solid black;*/
  
  background-color: white;
}

#modalContent .skill-list li::after {
  content: attr(data-name);
  position: absolute;
  top: 90%; left: 50%;
  transform: translate(-50%, -20%);
  
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color:  #FDFBF7;
  padding: 3px;
  z-index: 20;
  
  border-radius: 5px;
  background-color: #1B6C67;
  transition: all 0.2s ease;
  opacity: 0;  
}

#modalContent .skill-list li:hover::after {
  opacity: 1;
}

#modalContent .skill-list li:first-child {
  margin-left: 0;
}

#modalContent .skill-list li:last-child {
  margin-right: 0;
}

#modalContent .member-schedule {
  display: flex;
  margin-bottom: 20px;
}

#modalContent .member-schedule p {
  margin-right: 20px;
}

#modalContent .product {
  position: relative;
  margin-bottom: 40px;
  font-size: 18px;
}

#modalContent .product::after {
  content: '';
  position: absolute;
  bottom: -20px; left: 9px;
  width: 100%; height: 1px;
  background-color: #322C29;
}

#modalContent .background {
  margin-bottom: 20px;
  font-size: 18px;
}

#modalContent .background li {
  font-size: 15px;
  list-style-position: outside;
  margin-left: 30px;
  line-height: 1.6;
  margin-bottom: 5px;
}

#modalContent .description {
  margin-bottom: 20px;
  font-size: 18px;
}

#modalContent .description li {
  font-size: 15px;
  list-style-position: outside;
  margin-left: 30px;
  line-height: 1.6;
  margin-bottom: 2px;
}

#modalContent .meaning {
  margin-bottom: 20px;
  font-size: 18px;
}

#modalContent .meaning li {
  font-size: 15px;
  list-style-position: outside;
  margin-left: 30px;
  line-height: 1.6;
  margin-bottom: 2px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  z-index: 20;
  transition: background-color 0.3s ease;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

nav.scrolled {
  background-color: var(--nav-color);
  transition: background-color 0.3s ease;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.nav-bar .logo a::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--text-color);
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 15px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

#About-me {
  position: relative;
  width: 100%;
  top: 0;
  background-color: #0107;
}

#About-me .overlay {
  width: 100%;
  height: 630px;
  background-color: rgba(210, 105, 30, 0.3);
  position: absolute;
  top: 0;
  z-index: 10;
}

#About-me .background_image {
  width: 100%;
  height: 630px;
  background: url(../images/programmer_1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

#About-me .self-introduce-text {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
}

#About-me .self-introduce-text .main-title {
  position: absolute;
  top: 16%;
  z-index: 15;
  color: var(--text-color);
  font-size: 50px;
  font-weight: 790;
  text-align: center;
}

#About-me .self-introduce-text .sub-title {
  position: absolute;
  top: 44%;
  z-index: 15;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

#About-me #personal-data {
  background-color: #E8E2D9;;
  height: 500px;
  width: 100%;
  margin: auto;
}

#About-me #personal-data .About-me-logo {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 30px;
  text-align: center;
  color: #322C29;
  font-size: 50px;
  font-weight: 650;
}

#About-me #personal-data .About-me-logo p span{
  position: relative;
}

#About-me #personal-data .About-me-logo p span::after {
  content: '';
  position: absolute;
  bottom: 1px; left: 9px;
  width: 95%; height: 1px;
  background-color: #322C29;
}

#personal-data .specific-data {
  width: 100%;
  height: 380px;
  padding: 5px 200px;
  gap: 80px;
  display: flex;
  justify-content: center;
}

#personal-data .specific-data .profile-image {
  background-image: url('../images/profile_2.png');
  background-size: cover;  
  background-position: center;
  
  aspect-ratio: 4 / 5;    
  border-radius: 20%;      
}

.specific-data .data {
  height: 100%;
  display: flex;
  align-items: center;
}

.specific-data .data li {
  margin: 30px 0;
  list-style: none;
  color: #322C29;
  font-size: 20px;
  font-weight: 200;
}

.specific-data .data li a {
  position: relative;
  text-decoration: none;
  color: #322C29;
}

.specific-data .data li a::after {
  content: '';
  position: absolute;
  bottom: -1px; left: 0;
  width: 0; height: 1px;
  background-color: #322C29;
  transition: all 0.2s ease;
}

.specific-data .data li a:hover::after {
  width: 100%;
}

.specific-data .data li a:hover {
  font-weight: 300;
}

#Skills {
  position: relative;
  height: 500px;
  width: 100%;
  margin: auto;
  background-color: #D2C9B1;
}

#Skills .used-skills {
  height: 100px;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: #4A3F35;
  font-size: 50px;
  font-weight: 650;
}

#Skills .used-skills p span {
  position: relative;
}

#Skills .used-skills p span::after {
  content: '';
  position: absolute;
  bottom: 1px; left: 9px;
  width: 95%; height: 1px;
  background-color: #4A3F35;
}

#Skills .skill-box {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

#Skills .skill-box .skill-box-wrapper{
  width: 320px;
  height: 320px;
  background-color: #8E6F57;
  border-radius: 30px;
  margin: auto; 
}

#Skills .skill-box .skill-box-wrapper .skills-category {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F5F5DC;
  background-color: #4A3F35;
  border-radius: 20px;
  font-size: 19px;
  font-weight: 370;
}

#Skills .skill-box .skill-box-wrapper .list-area {
  height: 250px;
}

#Skills .skill-box .skill-list {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  list-style: none;
}

#Skills .skill-box .skill-list li {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 10px 20px;
  padding: 5px;
  background-color: #F5F5DC;
  border-radius: 10px;
}

#Skills .skill-box .skill-list li::after {
  content: attr(data-name);
  position: absolute;
  top: 90%; left: 50%;
  transform: translate(-50%, -20%);
  
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: #FDFBF7;
  padding: 3px;

  border-radius: 5px;
  background-color: #1B6C67;
  transition: all 0.2s ease;
  opacity: 0;
}

#Skills .skill-box .skill-list li:hover::after {
  opacity: 1;
}

#Skills .skill-box .skill-list img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

#Projects {
  position: relative;
  width: 100%;
  background-color: #D9D2C5;
}

#Projects .project-pin {
  height: 120px;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: #2D2926;
  font-size: 50px;
  font-weight: 650;
}

#Projects .project-pin p span {
  position: relative;
}

#Projects .project-pin p span::after {
  content: '';
  position: absolute;
  bottom: 1px; left: 9px;
  width: 95%; height: 1px;
  background-color: #2D2926;
}

#Projects .project-box {
  margin-top: 20px;
  padding: 30px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 10px;
}

#Projects .project-box .modal-button {
  position: relative;
  
  width: 100px;
  height: 40px;
  
  font-size: 15px;
  font-weight: bold;
  
  border: 2px solid #4A5D4E;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  
  background-color: transparent;
  
  cursor: pointer;
  transition: transform 0.2s ease;
}

#Projects .project-box .modal-button:hover {
  transform: translateY(-3px);
  background-color: darkolivegreen
}

#Projects .project-box .modal-button:active {
  transform: scale(0.9);
}

#Projects .project-box .project-box-wrapper {
  position: relative;
  width: 90%;
  min-height: 440px;
  
  border: 2px solid #4A5D4E;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  
  margin: auto;
  padding: 0 15px;
  
}

/*
#Projects .project-box .project-box-wrapper:hover {
  background-color: #E8E2D2;
  transform: translateY(-5px);
}
*/

#Projects .project-box .project-box-wrapper::before {
  content: attr(project-name);
  position: absolute;
  
  top: -43px; left: -20px;
  
  font-size: 18px;
  font-weight: 370;
  text-align: center;
  color: #FDFBF7;  
  
  border-radius: 25px;
  padding: 18px 15px;
  background-color: #4A5D4E; 
}

.project-box .project-box-wrapper .project-used-skill {
  position: relative;
  height: 60px;
}

.project-box .project-box-wrapper .project-used-skill ul {
  display: flex;
  align-items: center;
  list-style: none;
  
  padding: 25px 0;
}

.project-box .project-box-wrapper .project-used-skill li {
  margin: 0 7px;
  padding: 3px;
  font-size: 15px;
  font-weight: 450;
  background-color: #FDFBF7;
  border-radius: 5px;
}

.project-box .project-box-wrapper .project-description{
  position: relative;
  color: #4A5D4E;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 8px;
  margin-bottom: 15px;
  line-height: 1.5;
  background-color: #D2C9B1;
  border-radius: 20px;
}

.project-box .project-box-wrapper .project-schedule {
  position: relative;
  padding: 0 5px;
  color: #4A5D4E;
  font-size: 17px;
  font-weight: 350;
}

.project-box .project-box-wrapper .project-schedule::after {
  content: '';
  position: absolute;
  bottom: -12px; left: 0;
  width: 100%; height: 1px;
  background-color: #4A5D4E; 
}

.project-box .project-box-wrapper .detail-description{
  padding: 30px 20px 15px;
}

.project-box .project-box-wrapper .detail-description li {
  margin-bottom: 9px;
  line-height: 1.3;
  font-size: 17px;
  color: #2D2926;
}

#Career {
  position: relative;
  height: 500px;
  width: 100%;
  border: 5px solid black;
  background-color: #0107;
}

#Contact {
  position: relative;
  height: 500px;
  width: 100%;
  border: 5px solid black;
  background-color: #0107;
}
